.App {
  text-align: center;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: url('/assets/about_me.png'); /* use your texture */
  background-size: cover;
  background-attachment: fixed; /* Parallax-like effect */
  background-position: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
html {
  scroll-behavior: smooth;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
